html 			{margin-top: 0px !important;}
#wpadminbar		{display: none;}
body			{background-color:#f4793a; color:#191919;}
.site-content	{margin:0 10px; background-color:#fff;}
h1 				{font-family: 'Playfair Display', serif;}

header								{margin:0 10px; width: auto; display: flex; height: 100%; align-items: center; color: #fff; font-family: 'Open Sans', sans-serif; min-height:190px;}
.header-mobilemenu--open			{display:none;}
.header-mobilemenu--close			{display:none;}
.header-logo						{flex-basis: 15%;width: 100%; height: auto; }
.header-logo img					{display:block;}
.header-sentence					{flex-basis: 10%; text-align: center;line-height: 25px; font-family: 'Playfair Display', serif;}
.menu-menu_top-container			{flex-basis: 50%;}
.menu-menu_top-container ul			{display: block; text-align: center; padding: 0;margin: 0;}
.menu-menu_top-container ul li		{display: inline-block;}
.menu-menu_top-container ul li a	{font-size: 13px;text-transform: uppercase;color: #fff;display: block;padding: 0 10px; position: relative;}
.menu-menu_top-container ul li a:before		{content: "";width: 5px;height: 5px;background-color: #fff;position: absolute;right: -5px;top: 50%;margin: -2px 0 0 0;border-radius: 5px;}
.menu-menu_top-container ul li:last-child a:before	{display:none;}
.menu-menu_top-container ul li a:after				{transition: width .3s; content: "";width: 0%;height: 1px;background-color: #fff;position: absolute;bottom: -10px;left: 50%;margin: 0 0 0 -25%;}
.menu-menu_top-container ul li a.active:after,
.menu-menu_top-container ul li:hover a:after		{content: "";width: 50%;height: 1px;background-color: #fff;position: absolute;bottom: -10px;left: 50%;margin: 0 0 0 -25%;}

.menu-menu_lang-container			{flex-basis: 25%;}
.menu-menu_lang-container ul			{display: block; text-align: center;}
.menu-menu_lang-container ul li		{display: inline-block;}
.menu-menu_lang-container ul li a	{font-size: 13px;text-transform: uppercase;color: #fff;display: block;padding: 0 5px; position: relative;}
.menu-menu_lang-container ul li a:before		{content: "";width: 5px;height: 1px;background-color: #fff;position: absolute;right: -5px;top: 50%;margin: 0;}
.menu-menu_lang-container ul li:last-child a:before	{display:none;}
.menu-menu_lang-container ul li a:after				{transition: width .3s; content: "";width: 0%;height: 1px;background-color: #fff;position: absolute;bottom: -10px;left: 50%;margin: 0 0 0 -25%;}
.menu-menu_lang-container ul li a.active:after,
.menu-menu_lang-container ul li:hover a:after		{content: "";width: 50%;height: 1px;background-color: #fff;position: absolute;bottom: -10px;left: 50%;margin: 0 0 0 -25%;}

.side-adress		{transform: rotate(-90deg);position: fixed;left: -30px;top: 50%;}
.side-adress p		{font-family: 'Open Sans', sans-serif;font-size: 10px;text-transform: uppercase;text-align: center;}
.side-adress a		{color: #191919; display: block;}

.side-social		{position: fixed;right: 30px;top: 50%;margin: -40px 0 0 auto;}
.side-social a 		{display: block;margin: 20px 0;padding: 0;text-align: center;}
.side-social img	{width: 20px;display: block;}

footer				{background-color: #fff; margin: 0 10px 10px 10px; font-family: 'Open Sans', sans-serif;}
.footer-content		{width: 80%;margin: 0 auto 140px;background: url("../img/pattern.gif") repeat;text-align: center;box-sizing: border-box;padding: 80px 0;}
.footer-content--socials		{}
.footer-content--socials a 		{display: inline-block; margin: 0 10px;}
.footer-content--socials img	{width: 20px;display: block;}
.footer-content--menu ul					{display: block; text-align: center; padding: 0;margin: 20px 0;}
.footer-content--menu ul li					{display: inline-block;}
.footer-content--menu ul li a				{font-size: 22px;color: #191919;display: block;padding: 0 10px;position: relative;font-weight: 900;}
.footer-content--menu ul li a.active,
.footer-content--menu ul li a:hover			{ color:#f4793a;}
.footer-content--menu ul li a:before		{content: "";width: 5px;height: 5px;background-color: #191919;position: absolute;right: -5px;top: 50%;margin: -2px 0 0 0;border-radius: 5px;}
.footer-content--menu ul li:last-child a:before	{display:none;}
.footer-content--copy			{}
.footer-content--copy p			{font-size: 13px;text-transform: uppercase;letter-spacing: 2px;}


.contact_form_section{width:100%; background-color:#333; color:#fff; padding: 40px 0 0;}
.contact_form{display:flex;flex-wrap:wrap;width:100%}
.contact_form__inputs	{display:flex;flex-wrap:wrap; width: 100%;}
.contact_form__settings-btn{margin:10px 0;text-align:right;width:100%}
.contact_form__settings-icon{font-size:32px;cursor:pointer;color:#fff}
.contact_form__settings-icon:hover{animation:spin 8s linear}
.contact_form__input-group{border:0 none;margin:0 0 10px 0;padding:0;position:relative;width:100%;box-sizing:border-box; float:left;}
form.contact_form__input-group fieldset{border:0 none;margin:0 0 10px 0;padding:0;position:relative}
.contact_form__checkbox{display:none}
.contact_form__checkbox-desc{display:inline-block;font-size:11px;font-weight:300;line-height:15px;padding:0 0 0 5px;position:relative;transition:color .3s;width:100%;}
.contact_form__checkbox-desc:before{width:15px;height:15px;display:block;content:'';float:left;margin-right:5px;;background-position:0 -30px;position:relative}
.contact_form__checkbox:checked+.contact_form__checkbox-desc{transition:color .3s}
.contact_form__checkbox:checked+.contact_form__checkbox-desc:before{background-position:0 -45px}
.contact_form__txt-input{-moz-appearance:none;color:#fff;display:block;font-size:16px;font-weight:200;border:0;background-color:transparent;padding:15px 10px;transition:all .2s ease-in-out 0s;width:100%;border-bottom:1px solid #fff;box-sizing:border-box;resize:none;font-family:Arial; box-shadow: 0 0 0;-webkit-tap-highlight-color: transparent;}
.contact_form__txt-label{color:#fff;left:10px;position:absolute;top:15px;transform:translate3d(0px,0px,0px);transition:all .2s ease-in-out 0s;font-weight:200}
.contact_form__txt-input:-webkit-autofill,
.contact_form__txt-input:-webkit-autofill:hover,
.contact_form__txt-input:-webkit-autofill:focus,
.contact_form__txt-input:-webkit-autofill:active,
.contact_form__txt-input:-webkit-autofill:valid {background-color: transparent!important; -webkit-box-shadow:0 0 0;    -webkit-text-fill-color: #fff; border:0 none; border-bottom:1px solid #fff; text-decoration:none; }
.contact_form__validate-err{color: #fff;font-size: 9px;margin: 5px 0 0 10px;line-height: 20px;display: inline-block;text-transform: uppercase;background-color: #d8292f;padding: 0 10px;border-radius: 20px;}
.contact_form__validate-err ul{margin: 0;list-style: none;font-size: 9px;}
.contact_form__validate-err ul li{margin: 0;}
.contact_form__txt-input:valid,.contact_form__txt-input:focus{padding:20px 10px 10px}
.contact_form__txt-input:focus+.contact_form__txt-label,.contact_form__txt-input:valid+.contact_form__txt-label{font-size:12px;transform:translate3d(0px,-10px,0px); color:#d8292f;}
.contact_form__txt-input:valid+.contact_form__txt-label{color:#158e00}
.contact_form__after-submit{padding-top:120px;padding-bottom:120px;text-align:center}
.contact_form__after-submit .error	{}
.contact_form__after-submit .error-button	{}
.contact_form__after-submit .error-button input	{}
.contact_form__h3{font-size:32px}




@media screen and ( max-width: 1024px ) {
	header						{flex-wrap: wrap; align-content: stretch;}
	.header-logo				{order:1; flex-basis: 25%;}
	.header-sentence			{order:2; flex-basis: 25%;}
	.menu-menu_top-container	{order:4; flex-basis: 100%;}
	.menu-menu_lang-container	{order:3; flex-basis: 50%; }
	.menu-menu_lang-container ul	{text-align:right;}	
}

@media screen and ( max-width: 768px ) {
	header						{flex-wrap: wrap; align-content: stretch;}
	.header-logo				{order:1; flex-basis: 100%; text-align:center;}
	.header-logo img 			{display: block; margin: 20px auto 0;}
	.header-sentence			{order:2; flex-basis: 100%;}
	.menu-menu_top-container	{order:3; flex-basis: 100%; display:none;}
	.menu-menu_lang-container	{order:4; flex-basis: 100%; }
	.menu-menu_lang-container ul	{text-align: center;padding: 0;margin: 0 0 20px 0;}	
	.header-mobilemenu--open					{order: 3;flex-basis: 100%;display: block;text-align: center;margin: 25px 0 0 0;text-transform: uppercase;font-size: 17px; cursor:pointer;}
	.header-mobilemenu--close					{display:block;}
	.header-mobilemenu--open .bars				{display:inline-block;}
	.header-mobilemenu--open .bars .poz1, 
	.header-mobilemenu--open .bars .poz2, 
	.header-mobilemenu--open .bars .poz3		{width: 20px;height: 1px;background-color: #fff;margin: 5px 0;display: block;}
	.header-mobilemenu--open p					{display: inline-block;position: relative;top: -5px;margin: 0;padding: 0;}
	.menu-menu_top-container--active			{display: flex;position: fixed;background-color: #f4793a;top: 0;left: 0;right: 0;bottom: 0;z-index: 100;align-items: center;justify-content: center;}
	.menu-menu_top-container--active .header-mobilemenu--close			{position: absolute;top: 30px;right: 20px;width: 30px;height: 30px; cursor:pointer;}
	.menu-menu_top-container--active .header-mobilemenu--close .poz1	{width: 30px;height: 1px;background-color: #fff;margin: 0;transition: 0.3s;display: block;transform: rotate(45deg);position: relative;
	top: 1px;left: 1px;}
	.menu-menu_top-container--active .header-mobilemenu--close .poz2	{width: 30px;height: 1px;background-color: #fff;margin: 0;transition: 0.3s;display: block;transform: rotate(-45deg);position: relative;
	top: 0;left: 0;}	
	.menu-menu_top-container--active ul			{display: flex;flex-direction: column;justify-content: center;align-items: center;}
	.menu-menu_top-container--active ul li		{line-height: 50px;}
	.menu-menu_top-container--active ul li a	
	.menu-menu_top-container--active ul li a.active:after,
	.menu-menu_top-container--active ul li:hover a:after	{bottom: 5px;}	
	.menu-menu_top-container--active ul li a:before	{ display:none;}
}